<div class="modal fade" data-app-modal="pessoas.modal.confirmarRemocao" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-app-modal-dismiss="pessoas.modal.confirmarRemocao"><span>&times;</span></button>
                <h4 class="modal-title">Remover pessoa</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" data-ng-show="pessoas.modal.erros.aoSalvar">
                    <button type="button" class="close" data-ng-click="pessoas.modal.limparMensagens()"><span aria-hidden="true">&times;</span></button>
                    <span data-ng-repeat="erro in pessoas.modal.erros.aoSalvar" data-ng-bind="erro"></span>
                </div>
                <p>
                    Deseja realmente apagar a pessoa <strong data-ng-bind="pessoas.pessoa.nome"></strong> ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success-outline"
                        data-ng-click="pessoas.modal.remover()">
                    <span data-ng-show="pessoas.modal.removendo"
                          data-ng-disabled="pessoas.modal.removendo">
                        Apagando&nbsp;<i class="fa fa-refresh fa-spin"></i>
                    </span>
                    <span data-ng-hide="pessoas.modal.removendo">Sim</span>
                </button>
                <button type="button" class="btn btn-danger-outline"
                        data-app-modal-dismiss="pessoas.modal.confirmarRemocao">
                    Não
                </button>
            </div>
        </div>
    </div>
</div>

