@{
    Layout = "~/Views/Index.cshtml";
}

<div class="container-fluid" style="margin-top:150px">
    <div class="text-center text-gray-dark">
        <label class="text-danger" style="font-size:9em">
            401 <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        </label>
        <br />
        <label style="font-size:2em">
            <small>OPS! Acesso negado</small>
        </label>
        <div class="form-group">
            <a href="/" class="btn btn-link">
                <span class="fa fa-home"></span>
                <label>
                    Voltar
                </label>
            </a>
        </div>
    </div>
</div>