<form data-ng-submit="pessoas.consultar(true)" class="form-group">
    <div class="panel panel-white">
        <div class="panel-heading">
            @Html.Partial("~/Views/App/PanelHeadingFiltro.cshtml")
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Nome</label>
                        <input class="form-control"
                               data-ng-model="pessoas.filtro.nome" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="button"
                            class="btn btn-warning-outline"
                            data-ng-click="pessoas.limparFiltro()">
                        Limpar filtro
                    </button>
                    <button class="btn btn-primary-outline">
                        <span data-ng-show="clientes.pesquisando"
                              data-ng-disabled="clientes.pesquisando">
                            Pesquisando&nbsp;<i class="fa fa-refresh fa-spin"></i>
                        </span>
                        <span data-ng-hide="clientes.pesquisando">Pesquisar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
