@{
    Layout = "~/Views/Index.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">Bem Vindo</div>
    <div class="panel-body">
        Exemplo de aplicação AspNet MVC
    </div>
</div>
